<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Nick's Developer Page</title>
    <link href="libs/bootstrap-simplex.min.css" rel="stylesheet" />
    <script src="libs/jquery-3.3.1.min.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
</head>
<body>
    <div id="app">
        <div class="navbar navbar-fixed-top navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="content/nick-avatar.png" height="24" />
                            </div>
                            <div class="col-sm-2">
                                ntrom
                            </div>
                        </div>
                        
                        
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#articles" v-on:click="setCurrentPage('articles')">
                                <i class="octicon octicon-book"></i>
                                Articles
                            </a>
                        </li>
                        <li>
                            <a href="#calendar" v-on:click="setCurrentPage('calendar')">
                                <i class="octicon octicon-calendar"></i>
                                Calendar
                            </a>
                        </li>
                        <li>
                            <a href="#recruiters" v-on:click="setCurrentPage('recruiters')">
                                <i class="octicon octicon-person"></i>
                                Recruiters
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <br /><br />
            <div v-if="currentPage === 'home'">
                <h3>Software Developer, Programming Enthusiast, B.S. in Computer Science</h3>

                <h4>Growing in Knowledge and Technology with:</h4>

                <div class="list-group">
                    <div class="list-group-item">
                        <h3>Businesses</h3>
                        <div>
                            <strong>Web and Mobile App Development</strong>
                        </div>
                        <p>Growing businesses by building new web and mobile apps</p>
                        <div>
                            <strong>Security Testing</strong>
                        </div>
                        <p>Analyzing existing apps for security vulnerabilities, helping to prevent future threats</p>
                    </div>
                    <div class="list-group-item">
                        <h3>Individuals</h3>
                        <strong>Programming Tutoring</strong>
                        <p>Tutoring individuals who are curious or already interested in computer science and programming</p>

                        <strong>Paired Programming</strong>
                        <p>Collaborating on projects to learn from one another's unique experiences</p>
                    </div>
                    <div class="list-group-item">
                        <h3>Bug Bounty and Vulnerability Disclosure Programs</h3>
                        <strong>Security Research</strong>
                        <p>Analyzing apps from companies that participate in programs to responsibly disclose vulnerabilities found in their products</p>

                        <strong>Security Tool Development</strong>
                        <p>Developing custom tools to streamline security research and present unique insights</p>

                        <strong>Capture-the-Flags</strong>
                        <p>Advancing security knowledge by creating and solving challenges to find known issues</p>

                    </div>

                </div>
            </div>

            <!-- Articles -->
            <div v-if="currentPage === 'articles'">
                <h3>Articles</h3>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="list-group">
                            <a href="#articles/bug-knowledge-base" v-on:click="setCurrentArticle('bug-knowledge-base')" class="list-group-item">Bug Knowledge Base</a>
                            <a href="#articles/tools-of-the-trade" v-on:click="setCurrentArticle('tools-of-the-trade')" class="list-group-item">Tools of the Trade</a>

                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div v-if="currentArticle === ''">
                            Articles can be selected on the left
                        </div>
                        <div v-if="currentArticle === 'bug-knowledge-base'">
                            <bug-knowledge-base></bug-knowledge-base>
                        </div>
                        <div v-if="currentArticle === 'tools-of-the-trade'">
                            <tools-of-the-trade></tools-of-the-trade>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Recruiters -->
            <div v-if="currentPage === 'recruiters'">
                <recruiters></recruiters>
            </div>

            <!-- Calendar -->
            <div v-bind:class="currentPage === 'calendar' ? '' : 'hidden'">
                <h3>Calendar</h3>
                <p>Here you can see my availability, and schedule a discussion for professional opportunities. More information can be found on the <a href="#recruiters">Recruiters</a> page.</p>
                <!-- Calendly inline widget begin -->
                <div class="calendly-inline-widget" data-url="https://calendly.com/ntrom" style="min-width:320px;height:630px;"></div>
                <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
                <!-- Calendly inline widget end -->
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>